.menu {
  // background-color: #57bc90;
  background-color: #015249;

  .club-name {
    color: #ffffff;
    text-shadow: 1.5px 1.5px 3px #a5a5af;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.2, 1.2);
      padding-left: 15px;
    }
  }

  span {
    display: inline-block;
    line-height: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    text-align: center;

    &.active {

      a {

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 3px;
          width: 100%;
          -webkit-transform-origin: left;
          -moz-transform-origin: left;
          transform-origin: left;
          background-color: white;
          -webkit-animation: menuIn .2s both;
          -moz-animation: menuIn .2s both;
          animation: menuIn .2s both;
        }
      }
    }

    &:not(.active) {
      a {

        &::before {
          -webkit-transform-origin: left;
          -moz-transform-origin: left;
          transform-origin: left;
          -webkit-animation: menuOut .3s both;
          -moz-animation: menuOut .3s both;
          animation: menuOut .3s both;
        }
      }
    }
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }  
}

@-webkit-keyframes menuIn{
  0%{
      -webkit-transform:scale(0,1);
      -moz-transform:scale(0,1);
      transform:scale(0,1)
  }
  100%{
      -webkit-transform:scale(1,1);
      -moz-transform:scale(1,1);
      transform:scale(1,1)
  }
}
@-moz-keyframes menuIn{
  0%{
      -webkit-transform:scale(0,1);
      -moz-transform:scale(0,1);
      transform:scale(0,1)
  }
  100%{
      -webkit-transform:scale(1,1);
      -moz-transform:scale(1,1);
      transform:scale(1,1)
  }
}
@keyframes menuIn{
  0%{
      -webkit-transform:scale(0,1);
      -moz-transform:scale(0,1);
      transform:scale(0,1)
  }
  100%{
      -webkit-transform:scale(1,1);
      -moz-transform:scale(1,1);
      transform:scale(1,1)
  }
}
@-webkit-keyframes menuOut{
  0%{
      -webkit-transform:scale(1,1);
      -moz-transform:scale(1,1);
      transform:scale(1,1)
  }
  100%{
      -webkit-transform:scale(0,1);
      -moz-transform:scale(0,1);
      transform:scale(0,1)
  }
}
@-moz-keyframes menuOut{
  0%{
      -webkit-transform:scale(1,1);
      -moz-transform:scale(1,1);
      transform:scale(1,1)
  }
  100%{
      -webkit-transform:scale(0,1);
      -moz-transform:scale(0,1);
      transform:scale(0,1)
  }
}
@keyframes menuOut{
  0%{
      -webkit-transform:scale(1,1);
      -moz-transform:scale(1,1);
      transform:scale(1,1)
  }
  100%{
      -webkit-transform:scale(0,1);
      -moz-transform:scale(0,1);
      transform:scale(0,1)
  }
}
