<div class="contact">
  <h1 class="headline">Contact us</h1>
  <div class="contact-info row">
    <div class="contact-box-wrapper col-md-4">
      <div class="contact-box">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <h4>Email</h4>
        <a href="mailto:zrkpelister2012@yahoo.com">zrkpelister2012@yahoo.com</a>
      </div>
    </div>
    <div class="contact-box-wrapper col-md-4">
      <div class="contact-box">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <h4>Cal us on</h4>
        <a href="tel:0038977847110">0038977847110</a>
      </div>
    </div>
    <div class="contact-box-wrapper col-md-4">
      <div class="contact-box">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <h4>Find us at</h4>
        <p>Bulevar 1vi Maj 206</p>
      </div>
    </div>
  </div>
  <div class="follow-us">
    <h5>Follow us on:</h5>
    <a href="https://www.facebook.com/%D0%96%D0%A0%D0%9A-%D0%9F%D0%B5%D0%BB%D0%B8%D1%81%D1%82%D0%B5%D1%80-562856327177254/?ref=br_rs"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/zrkpelister/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>